
importFrom("graphics","plot")
importFrom("stats","deriv")

exportClasses(	
	"SplineBasis",
	"OrthogonalSplineBasis" )
			
exportMethods(
	"deriv",
	"dim",
	"evaluate",
	"orthogonalize",
	"plot")
	
export(
	"SplineBasis",
	"OrthogonalizeBasis",
	"OrthogonalSplineBasis",
	"OuterProdSecondDerivative",
	"OBasis",
	"MatrixPower",
	"Henkel" )
	
S3Method(dim,SplineBasis)
S3Method(print,SplineBasis)
S3Method(print,OrthogonalSplineBasis)
S3Method(plot,SplineBasis)
	