import(methods)
importFrom("graphics","plot")
importFrom("stats","deriv","integrate")
importFrom("graphics", "matplot")

exportClasses(
	"SplineBasis",
	"OrthogonalSplineBasis" )

exportMethods(
	"integrate",
	"deriv",
	"dim",
	"evaluate",
	"orthogonalize",
	"plot")

export(
	"expand.knots",
	"fitLS",
	"Hankel",
	"MatrixPower",
	"OrthogonalizeBasis",
	"OrthogonalSplineBasis",
	"OuterProdSecondDerivative",
	"OBasis",
	"SplineBasis",
	"GramMatrix" )
